In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/final_dataset.csv')

In [3]:
df.head()

                                                text     emotion
0  i feel rather funny ending with so many dupes ...         fun
1                     i feel surprised by the result    surprise
2                    i am officially feeling festive     neutral
3  i suddenly found myself standing before this w...    surprise
4  i look at the meager pile of food i purchased ...  enthusiasm

In [4]:
np.unique(df['emotion'])

array(['anger', 'empty', 'enthusiasm', 'fun', 'happiness', 'hate', 'love',
       'neutral', 'relief', 'sadness', 'surprise'], dtype=object)

In [5]:
df['emotion'].value_counts()

emotion
fun           10000
surprise      10000
enthusiasm    10000
anger         10000
happiness     10000
hate          10000
love          10000
relief        10000
sadness        9999
neutral        9998
empty          6358
Name: count, dtype: int64

In [6]:
df.shape

(106355, 2)