In [1]:
import pandas as pd
import numpy as np

In [2]:
# ----- Dataset 1 ----- #

In [3]:
df = pd.read_csv('../data/final_dataset.csv')

In [4]:
df.head()

                                                text     emotion
0  i feel rather funny ending with so many dupes ...         fun
1                     i feel surprised by the result    surprise
2                    i am officially feeling festive     neutral
3  i suddenly found myself standing before this w...    surprise
4  i look at the meager pile of food i purchased ...  enthusiasm

In [5]:
np.unique(df['emotion'])

array(['anger', 'empty', 'enthusiasm', 'fun', 'happiness', 'hate', 'love',
       'neutral', 'relief', 'sadness', 'surprise'], dtype=object)

In [6]:
df['emotion'].value_counts()

emotion
fun           10000
surprise      10000
enthusiasm    10000
anger         10000
happiness     10000
hate          10000
love          10000
relief        10000
sadness        9999
neutral        9998
empty          6358
Name: count, dtype: int64

In [7]:
df.shape

(106355, 2)

In [8]:
# ----- Dataset 2 ----- #

In [12]:
df2 = pd.read_csv('../data/text.csv')
df2 = df2.drop(columns=['Unnamed: 0'])

In [13]:
df2.head()

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4

In [ ]:
# Label mapping --> sadness (0), joy (1), love (2), anger (3), fear (4), and surprise (5)

In [14]:
label_map = {
    0: "sadness",
    1: "joy",
    2: "love",
    3: "anger",
    4: "fear",
    5: "surprise"
}

df2["label"] = df2["label"].map(label_map)

In [15]:
df2.head()

                                                text    label
0      i just feel really helpless and heavy hearted     fear
1  ive enjoyed being able to slouch about relax a...  sadness
2  i gave up my internship with the dmrg and am f...     fear
3                         i dont know i feel so lost  sadness
4  i am a kindergarten teacher and i am thoroughl...     fear

In [16]:
df2['label'].value_counts()

label
joy         141067
sadness     121187
anger        57317
fear         47712
love         34554
surprise     14972
Name: count, dtype: int64

In [17]:
df2.shape

(416809, 2)

In [18]:
# ----- Dataset 3 ----- #

In [19]:
df3 = pd.read_csv('../data/tweet_emotions.csv')

In [20]:
df3.head()

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

In [21]:
df3 = df3.drop(columns = ['tweet_id'])

In [22]:
df3.head()

    sentiment                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  Layin n bed with a headache  ughhhh...waitin o...
2     sadness                Funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends SOON!
4     neutral  @dannycastillo We want to trade with someone w...

In [23]:
df3['content'] = df3['content'].str.replace(r'@\w+', '', regex=True).str.strip()

In [24]:
df3.head()

    sentiment                                            content
0       empty  i know  i was listenin to bad habit earlier an...
1     sadness  Layin n bed with a headache  ughhhh...waitin o...
2     sadness                Funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends SOON!
4     neutral  We want to trade with someone who has Houston ...

In [25]:
df3['sentiment'].value_counts()

sentiment
neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: count, dtype: int64

In [26]:
df3.shape

(40000, 2)

In [27]:
# ---------- #

In [28]:
#Get all unique labels from each dataset

In [29]:
all_labels = sorted(set(df['emotion']) | set(df2['label']) | set(df3['sentiment']))

In [30]:
all_labels

['anger',
 'boredom',
 'empty',
 'enthusiasm',
 'fear',
 'fun',
 'happiness',
 'hate',
 'joy',
 'love',
 'neutral',
 'relief',
 'sadness',
 'surprise',
 'worry']

In [31]:
# --------------------